:root{
   --cor-de-fundo: #F5F5F5;
   --cor-de-fundo2: #EAF2FD;
   --cor-de-fundo3: #f2f6fc;
   --cor-de-link: #000;
   --cor-de-icone: #247AE4;
   --cor-de-fonte: #464646;
   --shadow: #00000025 0px 4px 4px;
}

@media (min-width: 1300px) {

    body {
        box-sizing: border-box;
        background-color: var(--cor-de-fundo);
        color: var(--cor-de-fonte);
        font-family: 'Raleway', sans-serif;
        text-shadow: var(--shadow);
        margin-top: 2%;
        margin-left:12.5%;
        margin-right:12.5%;
        padding: 0;
        line-height: 1;
    }
    ol, ul,li {
        list-style: none;
    }
    a{
        text-decoration: none;
        color: var(--cor-de-link);
    }

    .all {
        display: flex;
        flex-direction: column;
        gap: 15px;
        box-shadow: var(--shadow);
        padding: 5px;
    }

    section.menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        
        .header {
            width: 20%;
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: flex-start;
            align-items: center;
        }

        nav {
            width: 80%;
            display: flex;
            justify-content: flex-end;
        }

        .menu__lista{
            display: flex;
            flex-direction: row;
            gap: 25px;
            justify-content: flex-end;
            font-size: small;
        }
    }

    section.titulo {

        .titulo__div {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            padding: 30px 0 0;
            gap: 5px;
        }

        .titulo__container {
            width: 66.7%;
        }

        .titulo__bio {
            font-size: 52px;
            font-weight: bold;
            margin: 0;
        }

        .titulo__subsecao {
            font-size: 22px;
            font-weight: normal;
        }

        .titulo__conexoes {
            display: flex;
            flex-direction: row;
            gap: 20px;
            padding: 0;
        }

        .titulo__perfil {
            width: 33.3%;
            border-radius: 50%;
        }
    }

    section.sobremim {

        background-color: var(--cor-de-fundo2);
        box-shadow: var(--shadow);

        .sobremim__container {
            width: 66.7%;
            text-align: justify;
        }
    }

    section.skills {
        display: flex;
        flex-direction: column;

        .skills__titulo {
            text-align: center;
            font-size: 32px;
        }

        .skills__linha {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .skills__caixa {
            width: 150px;
            height: 148px;
            background-color: var(--cor-de-fundo2);
            box-shadow: var(--shadow);
        }

        .skills__caixa > ul {
            width: 100%;
            height: 100%;
            padding: 10px;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 10px;
        }

        .skills__img {
            font-size: 48px;
            color: var(--cor-de-icone);
        }

        .skills__nome {
            margin-bottom: 25px;
        }
    }

    section.hobbies {
        display: flex;
        flex-direction: column;

        .hobbies__titulo {
            text-align: center;
            font-size: 32px;
        }

        .hobbies__linha {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .hobbies__caixa {
            width: 150px;
            height: 148px;
            background-color: var(--cor-de-fundo2);
            box-shadow: var(--shadow);
        }

        .hobbies__caixa > ul {
            width: 100%;
            height: 100%;
            padding-left: 10px;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 10px;
        }
        
        .hobbies__img {
            font-size: 48px;
            color: var(--cor-de-icone);
        }

        .hobbies__nome {
            margin-bottom: 5px;
        }
    }

    section.formacao {

        background-color: var(--cor-de-fundo2);
        box-sizing: border-box;
        margin-bottom: 25px;

        .formacao__titulo {
            text-align: center;
            font-size: 32px;
            font-weight: bold;
        }

        .formacao__cursos {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 30px;

        }
        
        .formacao__cursos__caixa {
            flex-shrink: 1;
        }

        .formacao__cursos__lista {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
        }

        .formacao__cursos__item__img {
            max-width: 368px;
            max-height: 286px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .formacao__cursos__item__img > img {
            max-width: 192px;
            max-height: 130px;
            width: auto;
            height: auto;
            flex-shrink: 2;
        }

        .formacao__cursos__item__titulo {
            font-size: 18px;
            font-weight: bold;
            margin-top: 5px;
        }

        .formacao__cursos__item__subtitulo {
            font-size: 15px;  
            margin-top: 5px; 
        }

    }

    section.experiencia {

        margin: 0 10px 0px 10px;
        display: flex;
        flex-direction: column;

        .experiencia__titulo {
            text-align: center;
            font-size: 32px;
        }

        .experiencia__caixa {
            display: flex;
            flex-direction: row;
            gap: 40px;
            margin-bottom: 15px;
        }
        
        .experiencia__caixa__alt {
            display: flex;
            flex-direction: row-reverse;
            gap: 40px;
            margin-bottom: 15px;
        }

        .experiencia__caixa > img {
            max-width: 60%;
            box-shadow: var(--shadow);
            flex-shrink: 3;
        }

        .experiencia__caixa__alt > img {
            max-width: 60%;
            box-shadow: var(--shadow);
            flex-shrink: 3;
        }

        .experiencia__info {
            max-width: 30%;
            flex-shrink: 1;
        }

        .experiencia__info__titulo {
            font-size: 22px;
            font-weight: bold;
        }

        .experiencia__info__texto {
            font-size: 16px;
        }

        .experiencia__descricao {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }

        .experiencia__repo {
            padding: 15px;
            border: 1px solid var(--cor-de-icone);
        }

        .experiencia__repo > a {
            color: var(--cor-de-icone);
            font-size: 22px;
        }

        .experiencia__demo {
            padding: 15px;
            border: none;
            background-color: var(--cor-de-icone);
        }

        .experiencia__demo > a {
            color: var(--cor-de-fundo);
            font-size: 22px;
        }
    }

    section.contato {

        background-color: var(--cor-de-fundo2);
        display: flex;
        flex-direction: row;
        gap: 40px;

        .contato__img {
            max-height: 600px;
            flex-shrink: 2;
        }

        .contato__info {
            width: 60%;
            flex-shrink: 1;
        }

        .contato__titulo {
            font-size: 32;
            font-weight: bold;
        }

        .contato__subtexto {
            font-size: 16px;
            font-weight: normal;
        }

        .contato__formulario {
            display: flex;
            flex-direction: column;
            gap: 20px;
            
        }

        .contato__formulario__caixa {
            height: 56px;
            background-color: var(--cor-de-fundo);
            display: flex;
            flex-direction: column;
            gap: 7px;
        }

        .contato__formulario__nome__titulo {
            font-size: 14px;
            color: #A2A2A2;
        }

        .contato__formulario__input, .contato__formulario__textarea {
            border: none;
            box-shadow: 0px 0px 2px gray ;
            font-size: 18px;
            margin: 0 5px 0 3px;
        }

        

        .contato__formulario__botao {
            padding: 10px;
            margin-top: 10px;
            border: none;
            background-color: var(--cor-de-icone);
            color: var(--cor-de-fundo2);
            font-size: 22px;
            
        }

    }

    section.rodape {
        .rodape__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .rodape__container > p {
            margin: 5px 0;
            font-size: 18px;;
        }
    }

}

@media (min-width: 768px) and (max-width: 1300px) {

}

@media (min-width: 425px){
    
}