:root{
   --cor-de-fundo: #F5F5F5;
   --cor-de-fundo2: #EAF2FD;
   --cor-de-fundo3: #f2f6fc;
   --cor-de-link: #000;
   --cor-de-icone: #247AE4;
   --cor-de-fonte: #464646;
   --shadow: #00000025 0px 4px 4px;
}

* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-fonte);
    font-family: 'Raleway', sans-serif;
    text-shadow: var(--shadow);
    width: 100vw;
    padding: 0 3vw 0 3vw;
}

ol, ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--cor-de-link);
}

.all {
    display: flex;
    flex-direction: column;
    gap: 35px;
    box-shadow: var(--shadow);
}

.titulo__secao {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}


/*Mobile-First: Config até 768px*/
section.menu {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .header{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .menu__titulo {
        font-size: 16px;
        font-weight: bold;
    }

    #menu1, #menu2, #menu3, #menu4, #menu5 {
        display: none;
    }
}
section.titulo {

    .titulo__perfil {
        width: 98px;
        height: 98px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 10px;
    }

    .titulo__bio {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 10px;;
    }

    .titulo__subsecao {
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 10px;
    }

    .titulo__conexoes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
section.sobremim {
    
    background-color: var(--cor-de-fundo2);
    box-shadow: var(--shadow);

    .sobremim__paragrafo {
        text-align: justify;
    }
}
section.skills {
    display: flex;
    flex-direction: column;

    .skills__linha {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 15px;
    }

    .skills__caixa {
        width: 156px;
        height: 118px;
        background-color: white;
        box-shadow: var(--shadow);
        display: flex;
        padding: 0 0 5px 10px;
    }

    .skills__caixa > ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 2px;
    }

    .skills__img {
        font-size: 48px;
        color: var(--cor-de-icone);
    }

}
section.hobbies {

    display: flex;
    flex-direction: column;

    .hobbies__linha {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 15px;
    }   

    .hobbies__caixa {
        width: 156px;
        height: 118px;
        background-color: white;
        box-shadow: var(--shadow);
        display: flex;
        padding: 0 0 5px 10px;
    }

    .hobbies__caixa > ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 2px;
    }

    .hobbies__img {
        font-size: 48px;
        color: var(--cor-de-icone);
    }

}
section.formacao {

    background-color: var(--cor-de-fundo2);
    box-sizing: border-box;

    .formacao__cursos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    .formacao__cursos__item__img {
        max-width: 296px;
        max-height: 118px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .formacao__cursos__item__img > img {
        width: 84px;
        height: 58px;
        object-fit: contain;
    }

    .formacao__cursos__item__titulo {
        font-size: 18px;
        font-weight: bold;
        margin-top: 5px;
    }

    .formacao__cursos__item__subtitulo {
        font-size: 15px;  
        margin-top: 5px; 
    }
        
}
section.experiencia {

    .experiencia__caixa {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }

    .experiencia__caixa__alt {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }

    .experiencia__caixa > img {
        width: 296px;
        height: 144px;
        object-fit: contain;
        box-shadow: var(--shadow);
        margin-bottom: 5px;
    }

    .experiencia__caixa__alt > img {
        width: 296px;
        height: 144px;
        object-fit: contain;
        box-shadow: var(--shadow);
        margin-bottom: 5px;
    }

    .experiencia__info {
        align-self: flex-start;
    }

    .experiencia__info__titulo {
        font-size: 22px;
        font-weight: bold;
    }

    .experiencia__info__texto {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .experiencia__descricao {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .experiencia__repo {
        padding: 15px;
        border: 1px solid var(--cor-de-icone);
    }

    .experiencia__repo > a {
        color: var(--cor-de-icone);
        font-size: 22px;
    }

    .experiencia__demo {
        padding: 15px;
        border: none;
        background-color: var(--cor-de-icone);
    }

    .experiencia__demo > a {
        color: var(--cor-de-fundo);
        font-size: 22px;
    }
}
section.contato {

    background-color: var(--cor-de-fundo2);
    display: flex;
    flex-direction: row;
    gap: 40px;

    .contato__img {
        display: none;
    }

    .contato__info {
        width: 100%;
    }

    .contato__formulario {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 25px; 
    }

    .contato__formulario__caixa {
        height: 56px;
        background-color: var(--cor-de-fundo);
        display: flex;
        flex-direction: column;
        gap: 7px;
    }    

    .contato__formulario__titulo {
        font-size: 18px;
        color: #A2A2A2;
    }

    .contato__formulario__input, .contato__formulario__textarea {
        font-size: 22px;
    }

    .contato__formulario__botao {
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 150px;
        border: none;
        background-color: var(--cor-de-icone);
        color: var(--cor-de-fundo2);
        font-size: 20px;
    }
}
section.rodape {
    
    .rodape__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .rodape__container > p {
        font-size: 18px;
    }
}   

/*Tablet: Config de 768px até 1300px*/
@media (min-width: 768px) and (max-width: 1300px) {
    body {
        padding: 0 10vw 0 10vw;
    }
    
    section.menu {

    }
    section.titulo {}
    section.sobremim {}
    section.skills {}
    section.hobbies {}
    section.formacao {}
    section.experiencia {}
    section.contato {}
    section.rodape {}
}

/*Desktop: Acima de 1300px*/
@media (min-width: 1300px) {

    body {
        padding: 0 10vw 0 10vw;
    }

    section.menu {
        flex-wrap: wrap;
        align-items: center;
        
        .header {
            margin: 20px;
            justify-content: flex-start;
            align-items: center;
        }

        .menu__titulo {
            font-size: 26px;
        }

        nav {
            display: flex;
            justify-content: flex-end;
            margin-right: 40px;
        }

        .menu__lista{
            display: flex;
            flex-direction: row;
            gap: 25px;
            justify-content: flex-end;
        }
    }

    section.titulo {

        .titulo__div {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
        }

        .titulo__container {
            width: 50vw;
        }

        .titulo__bio {
            font-size: 52px;
            margin-bottom: 30px;
        }

        .titulo__subsecao {
            font-size: 22px;
            margin: 0;
        }

        .titulo__conexoes {
            gap: 20px;
        }

        .titulo__perfil {
            width: 384px;
            height: 384px;
            margin-right: 40px;
        }
    }

    section.sobremim {

        .sobremim__container {
            text-align: justify;

        }

        .sobremim__titulo {
            text-align: left;
            font-size: 32px;
            margin-bottom: 20px;
        }

        .sobremim__paragrafo {
            width: 50vw;
            font-size: 22px;
            margin-bottom: 10px;
        }
    }

    section.skills {
        
        .skills__titulo {
            font-size: 32px;
        }
    }

    section.hobbies { 
        
        .hobbies__titulo {
            font-size: 32px;
        }    
    }

    section.formacao {

        margin-bottom: 25px;

        .formacao__cursos {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 30px;

        }

        .formacao__cursos__item__img {
            max-width: 368px;
            max-height: 286px;
        }
    }

    section.experiencia {

        margin: 0 10px 0px 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .experiencia__caixa {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        
        .experiencia__caixa__alt {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 15px;
        }

        .experiencia__caixa > img {
            width: 752px;
            height: 406px;
        }

        .experiencia__caixa__alt > img {
            width: 752px;
            height: 406px;
            object-fit: contain;            
            box-shadow: var(--shadow);
        }

        .experiencia__info {
            flex-shrink: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    section.contato {

        .contato__img {
            width: 464px;
            height: 593px;
            object-fit: contain;
        }

        .contato__subtexto {
            font-size: 18px;
            font-weight: normal;
        }

        .contato__formulario__input, .contato__formulario__textarea {
            border: none;
            padding: 10px 0 0;
        }

        .contato__formulario__botao {
            width: 12.5vw;
            font-size: 22px;
        }
    }
}